.classe {
    text-align: center;
    padding: 32px;
    background-color: #D9F7D9;

}

.classe h3 {
    border-bottom: 4px solid #57C278;
    display: inline-block;
    font-size: 32px;
    padding-bottom: 8px;
}